.header{
    display: flex;
    justify-content: space-between;
    border: solid black;
  
}
.logo img{
    width: 100px;
    height: auto;
    padding : 18px

}
.nav-items ul{
    font-size: 24px;
  display: flex;
  list-style: none;
  padding-right: 30px;
}
.nav-items ul li{
    padding: 10px;
    margin: 10px;
}

.body{
    padding: 20px;
    border: red solid;

}

.Search{
    border: solid black;
    width: fit-content;
    height : fit-content;
}
.Search input{
    padding: 10px 10px 10px 10px;
    margin: 10px;
   height:20px ;
}
.Search button {
   
    
    margin: 10px;

}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card{
    
    background-color: #f0f0f0;
    padding:5px;
    margin: 18px;
    width:180px;
   
}
.res-card:hover{
    border: solid black;
    cursor: pointer;
  
}
.res-logo{
    width: 100%;
    height: 118px;
}
.shimmer-container{
 display: flex;
 flex: wrap;

}
.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
}
.shimmer-Search{
    border: solid #f0f0f0;
    width: fit-content;
    height : fit-content;
}
.shimmer-input{
    padding: 10px 10px 10px 10px;
    margin: 10px;
   height:20px ;
   background-color: #f0f0f0;
}
.shimmer-search_butt{
    margin: 10px;
    width: 136px;
    height: 18px;
    background-color: #f0f0f0;
}
.head-btn{
    width: 80px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}